@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contact>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Shared/_Layout.cshtml";
}

<h1>Contact Page</h1>
@Html.Raw(Model.Value("bodyText"))