@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Model.Value("pageTitle") ?? "Umbraco Demo Site"</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <main>
        @RenderBody()
    </main>
</body>
</html>